#rick-and-morty::v-deep {
    #searchbox {
        display: flex;
        padding-left: 100px;
        padding-bottom: 20px;

        .filter-by {
            display: flex;
            align-self: center;

            .v-text-field__details {
                display: none;
            }
        }
    }

    .theme--light.v-pagination .v-pagination__item--active {
        color: red !important;
    }

    .active-icon {
        background-color: coral !important;
    }

    #choose-mode {
        border-top: 1px solid red;
        padding: 20px;
    }
}